<%- include('partials/header.html') %>


    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca:</h2>
            <br><br>
            <div class="center">

                <div style="width:100%;" class="mais-lidas">
                    <h3><%= contagem %> resultados</h3>

                    <% for (let i=0; i < contagem; i++){
                        descricaoCurta = posts[i].conteudo.substr(0,300); %>
                        <div class="mais-lidas-noticias-single">
                            <div class="mais-lidas-noticias-single">
                                <img src="<%= posts[i].imagem %>" />
                                <div class="texto-mais-lidas-single">
                                    <h4><%= posts[i].titulo %></h4>
                                    <p><%- descricaoCurta %>...</p>
                                    <a href="<%= posts[i].slug %>">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                        <% }%>

                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.html') %>
        </body>

        </html>